# 1. بيئة العمل الافتراضية (Virtual Environment)
# هذا هو الأهم لأن مجلد venv يحتوي على مكتبات ضخمة جداً مثل torch
venv/
.venv/
env/

# 2. ملفات بايثون المؤقتة
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# 3. المجلدات الناتجة عن تشغيل الكود (Outputs)
# نفضل عادة استبعادها ليقوم أصدقاؤك بتوليد نتائجهم الخاصة
plots/
saved_models/

# 4. ملفات النظام وبيئات التطوير
.vscode/
.idea/
.DS_Store
Thumbs.db

# 5. ملفات البيانات واللوجز
*.log